.site_bg_image {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

header .nav-link {
    border: 2px solid transparent;
    border-radius: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 500;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header-md-phone i {
    transform: scale(-1, 1);
}

.navbar i {
    width: 16px;
}

.special-orders-block {
    position: absolute;
    top: 15%;
    left: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    z-index: 99;
    width: min-content;
}

.collapse-special-orders {
    display: none;
    padding: 20px 0 20px 10px;
}

.special-order-img {
    width: 70px;
    /* height: 70px; */
}

.btn-content-special-order:focus {
    box-shadow: none;
}

.toggler-special-orders {
    padding: 15px 13px 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-rotate {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-special-orders {
    border-radius: 50%;
    font-weight: 600;
    z-index: 1;
    padding: 8px 16px;
    margin-top: 1em;
    border: none;
}

.filter-site {
    background-color: rgba(0, 0, 0, 0.3);
}

.filter-site i {
    width: 20px;
}

.news-title .bi-triangle,
.special-orders-mobile .bi-triangle{
    margin-top: 0;
}

.news-title span {
    vertical-align: middle;
}

.news-item {
    font-weight: 500;
}

.main .btn {
    border-radius: 20px;
}

.news-item .btn-news-data::after {
    content: "\0020\00bb";
}

.news-img {
    background-size: cover;
    height: 50px;
}

.news-head {
    position: relative;
    min-height: 40px;
}

.news-head img {
    width: 100%;
    height: 100%;
}

.news-head .news-date {
    position: absolute;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px black;
}

.news-line {
    border-bottom: 3px solid #fff;
}

.news-data-img {
    border-radius: 15px;
    width: 100%;
}

.photo-item {
    overflow: hidden;
    margin: 0 5px;
    height: 200px;
    width: 200px;
    position: relative;
    display: inline-block;
}

.photo-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s;
}

.photo-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(/img/Search.png);
    opacity: 0;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.3s;
    z-index: 100;
}

.photo-item:hover:before,
.photo-item:hover:after {
    opacity: 1;
    transition: 0.3s;
}

.photo-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-prev,
.btn-next {
    border-radius: 50%;
    font-weight: 600;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -1em;
    padding: 8px 16px;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.bi-triangle {
    transform: rotate(90deg);
    transform-origin: center center;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1.25em;
}

.footer table {
    border-collapse: separate;
    border-spacing: 1rem 10px;
}

.f-contact-item {
    margin: 10px 0;
}

.f-contact-item a {
    text-decoration: none;
}

.f-contact-item i:first-child {
    margin-right: 10px;
}

.f-contact-item .btn {
    border-radius: 0;
}

.f-contact-item .btn i {
    margin-right: 0;
    height: 16px;
    width: 16px;
}

.navbar {
    margin-bottom: 0;
}

.gallery-item {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.3);
    padding: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.gallery-item-desc {
    background-color: #ebc8b2;
    padding: 10px;
    border-radius: 15px;
}

.gallery-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.admin-nav .nav-link {
    border-radius: 10px;
    font-weight: bolder;
}

.admin-nav .nav-link,
.admin-nav i {
    color: white;
    border: none;
}

.admin-nav .nav-link.active {
    background-color: #0d6efd;
}

.news-img-item {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}

.contacts-head p {
    margin: 0;
}

.contacts-head a {
    text-decoration: none;
}

.dropdown-menu {
    padding: 0;
    border-radius: 10px;
    background-color: #212529;
    color: #fff;
}

.admin-nav .nav-link:hover {
    background-color: #0d6efd;
}

.dropdown-menu li .nav-link {
    border-radius: 0;
}

.dropdown-menu li:first-child .nav-link {
    border-radius: 10px 10px 0 0;
}

.dropdown-menu li:last-child .nav-link {
    border-radius: 0 0 9px 9px;
}

.call_back_form{
    background-color: #7bbee5;
    padding: 25px 15px;
}

.call_back_form span {
    font-size: 20px;
    color: #fff;
}

.call_back_form .col-lg-4 {
    text-align: center;
}

.call_back_form input{
    height: 39px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-size: 16px;
    width: 80%;
}

.call_back_form input:focus-visible{
    outline: none;
}

.call_back_form .send{
    background-color: #ff6500;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 0 10px;
}

.call_back_form input::placeholder{
    font-size: 16px;
}