.site_bg_image {
    background-color: #0b3647;
    background: url(/img/BG_5.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

header {
    background-color: #fff;
}

header .nav-link {
    color: black;
}

.header-md-phone i {
    transform: scale(-1, 1);
}

.navbar i {
    color: #00a2b8;
    width: 16px;
}

.navbar-toggler {
    color: white;
}

header .nav-link:hover {
    color: #00a2b8;
    border-bottom: 2px solid #00a2b8;
}

.filter-site {
    border: 15px solid #5ed8ed;
    background-color: rgba(0, 0, 0, 0.3);
}

.filter-site i {
    width: 20px;
}

.news-title .bi-triangle {
    margin-top: 0;
}

.news-title span {
    color: #fff;
    vertical-align: middle;
}

.news-item {
    background-color: #009eb7;
    font-weight: 500;
}

.news-item:hover {
    background-color: #5ed9eb;
}

.main .btn {
    border-radius: 20px;
}

.news-item .btn-news-data::after {
    content: "\0020\00bb";
}

.news-img {
    background-size: cover;
    height: 50px;
}

.news-head {
    position: relative;
}

.news-head .news-date {
    position: absolute;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px black;
}

.news-line {
    border-bottom: 3px solid #fff;
}

.decription-site {
    border: 15px solid #fff;
    color: white;
    background-color: #0b3647;
}

.photo-item {
    overflow: hidden;
    margin: 0 5px;
    border: 15px solid #0096ae;
    height: 200px;
    width: 200px;
    position: relative;
    display: inline-block;
}

.photo-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s;
}

.photo-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(/img/search.png);
    opacity: 0;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.3s;
    z-index: 100;
}

.photo-item:hover:before,
.photo-item:hover:after {
    opacity: 1;
    transition: 0.3s;
}

.photo-item img:first-child {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-prev,
.btn-next {
    border-radius: 50%;
    font-weight: 600;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -1em;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.footer {
    background-color: #5ed9eb;
}

.bi-triangle {
    transform: rotate(90deg);
    transform-origin: center center;
    color: #0096ae;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1.25em;
}

.footer table {
    border-collapse: separate;
    border-spacing: 1rem 10px;
}

.f-contact-item {
    margin: 10px 0;
}

.f-contact-item i:first-child {
    margin-right: 10px;
}

.f-contact-item .btn {
    border-radius: 0;
}

.f-contact-item .btn i {
    margin-right: 0;
    height: 16px;
    width: 16px;
}

.navbar {
    margin-bottom: 0;
}

.gallery-item {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.3);
    padding: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: 50%;
    height: 200px;
}

.gallery-item-desc {
    background-color: #ebc8b2;
    padding: 10px;
    border-radius: 15px;
}

.gallery-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.admin-nav .nav-link {
    border-radius: 10px;
    font-weight: bolder;
}

.admin-nav .nav-link,
.admin-nav i {
    color: white;
    border: none;
}

.admin-nav .nav-link.active {
    background-color: #0d6efd;
}

.news-img-item {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}