.site_bg_image {
    background-image: url('/img/ParadiseBeachTheme.webp');
}

header .nav-link {
    color: #fff;
}

.contacts-head a {
    color: #fff;
}

.contacts-head a:hover {
    color: #ffdd43;
}

.about-us-title {
    color: #77c8cb;
}

.main .navbar i {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
}

header .nav-link:hover {
    color: #fff;
    border: 2px solid #ffdd43;
}

.special-orders-block {
    background-color: #00736e;
}

.text-rotate {
    color: #fff;
}

.btn-special-orders {
    background-color: #ffde41;
    color: #000;
}

.filter-site {
    border: 15px solid #ffdd43;
}

.news-title span {
    color: #fff;
}

.news-item .btn-news-data {
    background-color: #ffde41;
    color: #000;
}

.news-item {
    background-color: #00736e;
}

.decription-site {
    border: 15px solid #ffdd43;
    background-color: #00736e;
}

.about-us-btn {
    background-color: #ffde41;
    color: #000;
}

.photo-slider .btn-prev,
.photo-slider .btn-next {
    background-color: #ffde41;
    color: #000;
}

.photo-item {
    border: 15px solid #00736e;
}

.footer {
    background-color: #00736e;
    color: #fff;
}

.bi-triangle {
    color: #7bc6cb;
}

.f-contact-item a {
    color: #fff;
}

.f-contact-links-items a {
    color: #000;
    background-color: #7bc6cb;
}

.f-contact-links-items a:hover {
    background-color: #ffde41;
    color: #000;
}