.site_bg_image{
    background-image: url('/img/SunsetTheme.png');
}

header .nav-link {
    color: #fff;
}

.contacts-head a {
    color: #fff;
}

.contacts-head a:hover {
    color: #00a2b8;
}

.about-us-title {
    color: #3389ac;
    
}

.main .navbar i {
    color: #fe3b01;
}

.navbar-toggler {
    color: #fe3b01;
}

header .nav-link:hover {
    color: #fff;
    border: 2px solid #9901b8;
}

.filter-site {
    border: 15px solid #093747;
}

.news-title span {
    color: #fff;
}

.news-item .btn-news-data {
    background-color: #fe3b01;
    color: #fff;
}

.news-item {
    background-color: #0b3647;
}

.decription-site {
    border: 15px solid #0f556f;
    background-color: #0b3647;
}

.about-us-btn{
    background-color: #fe3b01;
    color: #fff;
}

.photo-slider .btn-prev,
.photo-slider .btn-next{
    background-color: #fe3b01;
    color: #fff;
}
.photo-item {
    border: 15px solid #0b3647;
}

.footer {
    background-color: #0b3647;
    color: #fff;
}

.bi-triangle {
    color: #fff;
}

.f-contact-item a {
    color: #fff;
}

.f-contact-links-items a {
    color: #fff;
    background-color: #0f556f;
}
.f-contact-links-items a:hover {
    background-color: #fe3b01;
    color: #fff;
}